*{
    background: var();
}

.background-change{
    background-color: var(--bg-whole);
}

.mass{
    color: var( --qbuildr-h1-txt);
}

.mbg{
    background-color: var(--qbuildr-elements-bg-depth-1);
}

